In [18]:
#Сумбаев Никита Сергеевич. Вариант 24. КМБО-04-22
#1
import pandas
import numpy as np 
from sklearn.tree import DecisionTreeClassifier 
data=pandas.read_csv('BankChurners.csv',index_col='CLIENTNUM') 
data

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [20]:
data_sel=data.loc[:,data.columns.isin(['Attrition_Flag','Customer_Age','Dependent_count','Education_Level','Marital_Status','Income_Category','Card_Category','Months_on_book','Total_Relationship_Count','Credit_Limit','Total_Revolving_Bal','Avg_Open_To_Buy','Total_Amt_Chng_Q4_Q1','Total_Trans_Amt','Total_Trans_Ct','Total_Ct_Chng_Q4_Q1','Avg_Utilization_Ratio'])]
data_sel=data_sel.dropna()
data_sel['Marital_Status'] = np.where(data_sel["Marital_Status"]=='Married',1,0)
#Женат ли человек
data_sel['Attrition_Flag'] = np.where(data_sel['Attrition_Flag']=='Existing Customer',1,0)
#Пользуется ли клиент банком
data_sel['Education_Level'] = np.where(data_sel['Education_Level']=='Graduate',1,0)
#Есть ли высшее образование
data_sel['Income_Category']=np.where(data_sel['Income_Category']=='Less than $40K',40, np.where(data_sel['Income_Category']=='40K-60K',50,90))
#Тип карты клиента
data_sel['Card_Category']=np.where(data_sel['Card_Category']=='Blue',1,np.where(data_sel['Card_Category']=='Silver',2,3))
#синяя 1, серебряная 2, золотая 3
data_sel['Credit_Limit']=np.where(data_sel['Credit_Limit']>10000,0,1)
data_sel

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,,,,
768805383,1,45,3,0,1,90,1,39,5,0,777,11914.0,1.335,1144,42,1.625,0.061
818770008,1,49,5,1,0,40,1,44,6,1,864,7392.0,1.541,1291,33,3.714,0.105
713982108,1,51,3,1,1,90,1,36,4,1,0,3418.0,2.594,1887,20,2.333,0.000
769911858,1,40,4,0,0,40,1,34,3,1,2517,796.0,1.405,1171,20,2.333,0.760
709106358,1,40,3,0,1,90,1,21,5,1,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,1,50,2,1,0,90,1,40,3,1,1851,2152.0,0.703,15476,117,0.857,0.462
710638233,0,41,2,0,0,90,1,25,4,1,2186,2091.0,0.804,8764,69,0.683,0.511
716506083,0,44,1,0,1,40,1,36,5,1,0,5409.0,0.819,10291,60,0.818,0.000
717406983,0,30,2,1,0,90,1,36,4,1,0,5281.0,0.535,8395,62,0.722,0.000
714337233,0,43,2,1,1,40,2,25,6,0,1961,8427.0,0.703,10294,61,0.649,0.189

In [21]:
Credit_Limit = data_sel.loc[:,data_sel.columns.isin(['Credit_Limit'])]
Credit_Limit=Credit_Limit.to_numpy()

In [22]:
parameters=data_sel.loc[:,data_sel.columns.isin(['Attrition_Flag','Customer_Age','Dependent_count','Education_Level','Marital_Status','Income_Category','Card_Category','Months_on_book','Total_Relationship_Count','Total_Revolving_Bal','Avg_Open_To_Buy','Total_Amt_Chng_Q4_Q1','Total_Trans_Amt','Total_Trans_Ct','Total_Ct_Chng_Q4_Q1','Avg_Utilization_Ratio'])]
parameters=parameters.to_numpy()

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
x_train, x_validation, y_train, y_validation=train_test_split(parameters,Credit_Limit,test_size=.33,random_state=1)
for i in range (1, 20):
    T=DecisionTreeClassifier(random_state=241,max_depth=i)
    T=T.fit(x_train, y_train)
    y_pred=T.predict(x_validation)
    accuracy=accuracy_score(y_validation, y_pred)
    print(f"Accuracy:", accuracy,'\n')
#Дерево с высотой 5 имеет наибольшую точность

Accuracy: 0.9760622381807301

Accuracy: 0.9760622381807301

Accuracy: 0.9949132256134051

Accuracy: 0.995212447636146

Accuracy: 0.9958108916816277

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

Accuracy: 0.995212447636146

In [24]:
conf_matrix=confusion_matrix(y_validation, y_pred)
class_report=classification_report(y_validation, y_pred)
print(f"Classification report = precision, f1, recal: \n", class_report)

Classification report = precision, f1, recal:
               precision    recall  f1-score   support

           0       0.99      0.99      0.99       909
           1       1.00      1.00      1.00      2433

    accuracy                           1.00      3342
   macro avg       0.99      0.99      0.99      3342
weighted avg       1.00      1.00      1.00      3342

In [25]:
#2
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

RandomForest= RandomForestClassifier(n_estimators=100,random_state=42)
RandomForest.fit(x_train, y_train.ravel())

y_pred_RandomForest_wo_gs=RandomForest.predict(x_validation)

print(classification_report(y_validation, y_pred_RandomForest_wo_gs))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       909
           1       1.00      1.00      1.00      2433

    accuracy                           1.00      3342
   macro avg       1.00      0.99      0.99      3342
weighted avg       1.00      1.00      1.00      3342

In [ ]:
x_train, x_validation, y_train, y_validation=train_test_split(parameters,Credit_Limit,test_size=.33,random_state=1,stratify=Credit_Limit)
RandomForest1=RandomForestClassifier(random_state=42)

grid_parameters = {
    'n_estimators': [100,200,300],
    'max_depth': [1,2,3,4,5,6,7,8,9,10]
}

gridCV=GridSearchCV(RandomForest1, param_grid=grid_parameters, cv=5, scoring='accuracy')
model_gridCV=gridCV.fit(x_train, y_train.ravel())

print('Лучшие гиперпараметры:', model_gridCV.best_params_)
print('Лучшие метрики:', model_gridCV.best_score_)

In [17]:
grid_parameters = {
    'n_estimators': [260, 270, 280, 290, 300, 310, 320, 330, 340],
    'max_depth': [8]
}

gridCV=GridSearchCV(RandomForest1, param_grid=grid_parameters, cv=5, scoring='accuracy')
model_gridCV=gridCV.fit(x_train, y_train.ravel())

print('Лучшие гиперпараметры:', model_gridCV.best_params_)
print('Лучшие метрики:', model_gridCV.best_score_)

Лучшие гиперпараметры: {'max_depth': 8, 'n_estimators': 260}
Лучшие метрики: 0.9973470891672808